header {
	height: 50px;
	width: 100%;
	background-color: #1D8C00;
	display: flex;
	align-items: center;
	position: relative;
	color: rgb(255, 255, 255);
}

/* блок с названием игры */
.title {
	position: absolute;
	left: 0;
	padding: 10px 10px;
}

/* название игры */
.title span {
	color: #FF6700;
	font: bold 2em serif;
}

/* Меню */
.controls {
	position: absolute;
	right: 0;
	padding: 10px 20px;
}

/* Элементы меню */
.controls span{
	padding: 0 10px;
}