<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<img src="{{ photoPath }}" style="max-width: 300px" alt="">
	Ваш лучший счёт: {{ score }}
</body>
</html>
