
/* Область вывода сообщений для игрока */
.intro {
	width: 100%;
	text-align: center;
}

/* Окно диалога с игроком */
.describe {
	width: 40%;
	margin: 60px auto;
	border: 1px solid rgb(255, 0, 0);
	padding: 20px;
	background-color: greenyellow;
	font-size: 1.6em;
	line-height: 130%;
	display: none;
}

/*  */
.describe p:not(:last-child) {
	margin-bottom: 10px;
}

/* Кнопка Далее */
.button_next {
	text-align: end;
}

/* выравнивание текста в окне с сообщениями */
.describe_text {
	text-align: left;
}

button {
	padding: 10px;
	text-transform: uppercase;
	font: bold 0.6em sans-serif;
	color: white;
	border: 1px solid rgb(253, 253, 253);
	background-color: red;
	cursor: pointer;
}

/* Кнопка старта */
.start {
	margin: auto;
	font-size: 2em;
	border: 2px solid rgb(22, 236, 22); 
	margin-top: 50px;
}

/* Кнопка начала игры */
.btnGO {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

